.header
	position relative

	min-height 115px

	&__stamp
		position absolute
		top -20px
		right 5px

		width 252px
		height 106px

		imageReplacement()

		background-image uri('images/stamp.gif')
		background-position center center
		background-repeat no-repeat

.logotype
	font-size 10px
	font-weight 400
	line-height 24px

	&__title
		width 145px
		height 35px

		imageReplacement()

		background-image uri('images/logotype__title.gif')
		background-position center center
		background-repeat no-repeat
