// Числа для рассчётов взяты в макете
.javascript-slider
	&_col
		&_1
			width (148 / 760) * 100%

		&_2
			width (225 / 760) * 100%

		&_3
			width (190 / 760) * 100%

		&_4
			width (198 / 760) * 100%
