html
	background-color #797979

	font 700 22px/1.4 'PT Sans', Helvetica, Arial, sans-serif


body
	width 1000px
	margin 0 auto
	padding 68px 48px 58px

	background-color #e9ca97
	background-image url('/assets/images/body__bg.jpg')


input[type="text"]
	width 100%

	background-color transparent
	border 0


a
	color #014f98

	&:hover
	&:active
		color lighten(#014f98, 10%)
