@font-face
  font-family 'PT Sans'
  src uri('resources/assets/fonts/pt-sans-400.woff') format('woff')
  font-style normal
  font-weight 400
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased

@font-face
  font-family 'PT Sans'
  src uri('resources/assets/fonts/pt-sans-700.woff') format('woff')
  font-style normal
  font-weight 700
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
