div.slider.js-slider
	div.slider__shaft.js-slider__shaft
		div.slider__handle.js-slider__handle
	div.slider__labels.js-slider__labels
		div.slider-label.slider-label_place_first.javascript-slider_col_1.js-slider-label Не владею
		div.slider-label.javascript-slider_col_2.js-slider-label Использую готовые решения
		div.slider-label.javascript-slider_col_3.is-active.js-slider-label Использую готовые решения и умею их переделывать
		div.slider-label.slider-label_place_last.javascript-slider_col_4.js-slider-label Пишу сложные скрипты
